<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
    <!-- Bootstrap css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Chess | Play</title>
</head>

<body>
    <div class="container">
        <table class="text-center board">
            <tr class="board-label">
                <th></th>
                <th>a</th>
                <th>b</th>
                <th>c</th>
                <th>d</th>
                <th>e</th>
                <th>f</th>
                <th>g</th>
                <th>h</th>
            </tr>
            {% for row in board %}
            {% set outer_loop = loop %}
            <tr>
                <th>{{9 - outer_loop.index}}</th>
                {% for piece in row %}

                {% if loop.index % 2 == 0 and outer_loop.index % 2 == 0 or loop.index % 2 == 1 and outer_loop.index % 2
                == 1 %}
                {% set colour = "light" %}
                {% else %}
                {% set colour = "dark" %}
                {% endif %}

                {% if piece %}
                <td class="square-{{colour}} white-piece-{{piece.colour}}">{{piece}}</td>
                {% else %}
                <td class="square-{{colour}}"></td>
                {% endif %}

                {% endfor %}
                <th>{{9 - outer_loop.index}}</th>
            </tr>
            {% endfor %}
            <tr class="board-label">
                <th></th>
                <th>a</th>
                <th>b</th>
                <th>c</th>
                <th>d</th>
                <th>e</th>
                <th>f</th>
                <th>g</th>
                <th>h</th>
            </tr>
        </table>
    </div>
</body>