<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
    <!-- Bootstrap css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Chess | Play</title>
</head>

<body>
    <div class="row">
        <div class="col my-auto mx-auto">
            <div class="card player-info text-white bg-dark">
                <div class="card-header">
                    <h5 class="card-title current-player-{{ current_player }}">Player 1 (White)</h5>
                </div>
                <div class="card-body">
                    {% for piece in white_pieces_taken %}
                    <img src="static/img/{{piece.__class__.__name__}}{{piece.colour}}.png">
                    {% endfor %}
                </div>
                <div class="card-footer text-center">
                    <a href="#" class="btn btn-outline-light">Resign</a>
                </div>
            </div>
        </div>
        <table class="text-center board">
            <tr class="board-label">
                <th></th>
                <th>a</th>
                <th>b</th>
                <th>c</th>
                <th>d</th>
                <th>e</th>
                <th>f</th>
                <th>g</th>
                <th>h</th>
            </tr>
            {% for row in board %}
            {% set outer_loop = loop %}
            <tr>
                <th class="board-label">{{9 - outer_loop.index}}</th>
                {% for piece in row %}

                {% if loop.index % 2 == 0 and outer_loop.index % 2 == 0 or loop.index % 2 == 1 and outer_loop.index
                % 2
                == 1 %}
                {% set colour = "light" %}
                {% else %}
                {% set colour = "dark" %}
                {% endif %}

                {% if (outer_loop.index - 1, loop.index - 1) in current_move %}
                {% set current_move = True %}
                {% else %}
                {% set current_move = False %}
                {% endif %}

                {% if piece %}
                <td class="square-{{colour}}-{{current_move}} white-piece-{{piece.colour}}"><a
                        href="/move?row={{outer_loop.index}}&column={{loop.index}}">
                        <img src="static/img/{{piece.__class__.__name__}}{{piece.colour}}.png">
                    </a>
                </td>
                {% else %}
                <td class="square-{{colour}}-{{current_move}} empty-square"><a
                        href="/move?row={{outer_loop.index}}&column={{loop.index}}">&nbsp;</a>
                </td>
                {% endif %}

                {% endfor %}
                <th class="board-label">{{9 - outer_loop.index}}</th>
            </tr>
            {% endfor %}
            <tr class="board-label">
                <th></th>
                <th>a</th>
                <th>b</th>
                <th>c</th>
                <th>d</th>
                <th>e</th>
                <th>f</th>
                <th>g</th>
                <th>h</th>
            </tr>
        </table>
        {% if show_promotion %}
        <div class="promotion-box-background">
            <div class="promotion-box">
                <a href="/promote?piece=Queen">
                    <img src="static/img/Queen{{ not current_player }}.png"></a>
                <a href="/promote?piece=Rook">
                    <img src="static/img/Rook{{ not current_player }}.png"></a>
                <a href="/promote?piece=Bishop">
                    <img src="static/img/Bishop{{ not current_player }}.png"></a>
                <a href="/promote?piece=Knight">
                    <img src="static/img/Knight{{ not current_player }}.png"></a>
            </div>
        </div>
        {% endif %}
        <div class="col my-auto mx-auto">
            <div class="card player-info text-white bg-dark">
                <div class="card-header">
                    <h5 class="card-title current-player-{{ not current_player }}">Player 2 (Black)</h5>
                </div>
                <div class="card-body">
                    {% for piece in black_pieces_taken %}
                    <img src="static/img/{{piece.__class__.__name__}}{{piece.colour}}.png">
                    {% endfor %}
                </div>
                <div class="card-footer text-center">
                    <a href="#" class="btn btn-outline-light">Resign</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>